<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteRule  ^$ public/    [L]
	RewriteRule  (.*) public/$1 [L]
AuthGroupFile /dev/null
AuthUserFile /home/mpdcom/domains/may-phat-dien.com/.htpasswd/public_html/qlycty/.htpasswd
AuthName "Security"
ErrorDocument 401 "Unauthorized Access"
